@charset "ISO-8859-1";

#formulario{
    background-image:url("https://i.ibb.co/nr9ZdB5/lau-dani-copia-1.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#contenedor{
    margin: 150px auto;
    width: 400px;
    height: 280px;
    padding: 30px;
    border-radius: 10px;
}
#contenedor h2{
    margin-bottom: 159px;
}
#contenedor .elemento label{
    color:aliceblue;
    margin-left: 0px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

#contenedor .elemento input{
    width: 100%;
    padding: 10 0px;
    color: white;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 5px;
    margin-bottom: 40px;
    margin-top: 10px;
}

#contenedor .botones input{
    background-color:#ffcb24;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    position:relative; 
    margin: 9px 20px; 
    width:100px;  
    left: 13%;
    transition-property: background-color;
    transition-duration: 1s;
    cursor: pointer;
}

.botones input:hover{
    background-color: #e50051;
}
/***Diseño elementos pagina de inicio ****/
#inicio{
    border-bottom: 6px double #ffcb24;
    padding-bottom: 10px;
  
}

.item-a h2{
    background-image:url(https://i.ibb.co/QnDvSjC/Recurso-2.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    margin-top: -8px;
    margin-bottom: 25px;
    padding: 10px;
    font-size: 50px;
    text-align: center;
    color: white;
    margin-left: -8px;
    margin-right: -8px;
    height: 70px;
    padding: 10px;
}

.item-b a{
    text-decoration: none;
    color: gray;
    font-size: 20px;
    font-family:'Montserrat', sans-serif;
    padding: 5px;
    border-spacing: 20px;
    transition-property: background-color;
    transition-duration: 1s;
    cursor: pointer;
}

.item-b a:hover{
    background-color: #e50051;
    color: white;
    margin: 0 auto;
    border-radius: 3px;
}

/***Diseño interfaz de usuarios, clientes y proveedores***/
table{
    margin: 100px auto;
}
/Diseño texto para las casillas de ingreso de información/
label{
    width: 200px;
    float: left;
    font-size: 17px;
    color:black;
    font-family: 'Montserrat', sans-serif;
}

/Diseño casillas para ingresar datos/

table input{
    margin-left: -20px;
    border-radius: 3px;
}

/Diseño botones de la interfaz usuarios, clientes y proveedores/
.botones input{
    background-color:#ffcb24;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    position:relative; 
    margin: 50px 25px; 
    width:100px;  
    left: 30%;
    transition-property: background-color;
    transition-duration: 1s;
    cursor: pointer;
}

.botones input:hover{
    background-color:#e50051;
    color: white;
}
/****Diseño interfaz cargar lista de productos**/
#productos table{
    margin: 150px auto;
}

#productos .examinar [type="text"]{
    width: 300px;
}

#productos .examinar .botones{
    position:relative; 
    left: -10%
}

#productos .cargar{
    position: relative;
    left: 29%;
}

#productos .cargar input{
    margin-top: 0%;
}
/****Diseño interfaz grafica de ventas***/

/primera tabla de ventas/

.botonesuno input{
    background-color:#ffcb24;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    position:relative; 
    margin: 50px 25px; 
    width:100px;  
    left: 30%;
    transition-property: background-color;
    transition-duration: 1s;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 4px;
    margin-left: 20px;
    margin-right: 0px;
    
}
.botonesuno input:hover{
    background-color:#e50051;
    color: white;
}

.tablita{
    margin-top: -70px;
}

/******Diseño interfaz grafica de reportes****/
#tablas{
    margin-top: 120px;
}
#tablas .listados{
    background-color:rgb(167, 163, 163);
    border: none;
    margin: 30px auto;
    padding: 10px;
    border-radius: 10px;
    position:relative; 
    width: 300px;  
}

#tablas .listados a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: center;
}

/****Diseño interfaz grafica listado de usuarios, clientes y ventas***/

#listado p{
    text-align: center;
    color: gray;
    font-size: 25px;
}}